.grid {
  display: grid;
  gap: 1px;
  border: 1px solid #333;
  position: relative;
  background-color: #f0f0f0;
  margin: 20px;
  width: fit-content;
  height: fit-content;
}

.grid-item {
  width: 3px;
  height: 3px;
  border: 1px solid #ddd;
}

.paths-legend {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 40%;
}

.paths-legend-item {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

.legend-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.legend-item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.start-point {
  background-color: black;
}
.path-a {
  background-color: #e0372a;
}
.path-b {
  background-color: #2195d1;
}
.path-c {
  background-color: #3bd121;
}
